.calender-container {
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.calendar-main {
    flex: 1;
    display: flex;
}

.month-grid {
    flex: 1;
    display: grid;
    grid-template-columns: 7;
    grid-template-rows: 5
}